/* articles section
================================ */
a, button {
    &.button {
        border: none;
        outline: none;
        background: $orange none repeat scroll 0 0;
        cursor: pointer;
        @include padding(12 35);
        display: inline-block; 
        @include font-size(14); 
        line-height: 1;
        letter-spacing: 1.4px; 
        @include transition(all 0.3s ease);
        @extend .font-regular;
        color: $zblack;
        letter-spacing: 0.3px; 
        @include margin-bottom(15); 
        
        &:hover, &:focus {
            background: darken($orange , 10%) none repeat scroll 0 0; 
        }
    }
    &.button {
        border: none;
        outline: none;
        background: $orange none repeat scroll 0 0;
        cursor: pointer;
        @include padding(12 35);
        display: inline-block; 
        @include font-size(14); 
        line-height: 1;
        letter-spacing: 1.4px; 
        @include transition(all 0.3s ease);
        @extend .font-regular;
        color: $zblack; 
        letter-spacing: 0.3px; 
        @include margin-bottom(15); 
        
        &:hover, &:focus {
            background: darken($orange , 10%) none repeat scroll 0 0; 
        }
    }
}