/* Page Footer section
================================ */
.footer {
    background: $darkBlue none repeat scroll 0 0;
    max-width: 1700px; 
    margin: 0 auto;

    &__wrapper {
        @include padding(10 0);
        @media #{$media-ipadSmall} {
            @include padding(5 0);
        }
        
        @media #{$media-ipadSmall} {
            text-align: center !important;
        }
        p {
            color: #6d7077;
            @include font-size(14);
            @extend .font-light;
            margin-bottom: 0px;
        } 
        .social__wrapper {
            text-align: right;
            @media #{$media-ipadSmall} {
                text-align: center !important; 
            }

            li {
                display: inline-block;
                
                + li {
                    margin-left: 20px;
                }
                a {
                    color: #6d7077;
                    @include font-size(14);
                    
                    &:hover, &:focus {
                        color: $orange;
                    }
                }
            } 
        }         
    }
    .footer__main {
        @include padding(60);
        border-bottom: 2px solid #1f2e43;
        
        &-logo {
            @include margin-bottom(20);
        }
        &-item {
            @include flexbox();
            @include flex-direction(column,vertical);
            @include justify-content(center);
            @include align-items(center);
            
            h5 {
                color: $white;
                text-align: center;
                @extend .font-bold;
                @include margin-bottom(20);
            }
            .menu {
                li {
                    display: inline-block;
                    
                    a {
                        color: $white;
                        @include font-size(14);
                        margin: 0 10px;
                        
                        &:hover, &:focus {
                            color: $orange;
                        }
                    }
                }
            }
        }
        
    }
} 


.connect__wrapper {
    @include padding(60 0);
}
.social--icons {
    li {
        width: 33px;
        height: 33px;
        border-radius: 100%;
        background: $orange none repeat scroll  0 0;
        line-height: 33px;
        display: inline-block;
        text-align: center;
        margin: 0 10px; 
        a {
            color:  $white; 
            span {
                color: $white;
            }
        }
        
        &.facebook {
            background: $facebook none repeat scroll  0 0;
        }
        &.twitter {
            background: $twitter none repeat scroll  0 0;
        }
        &.linkedin {
            background: $linkedin  none repeat scroll  0 0;
        }
        &.instagram {
            background: $instagram none repeat scroll  0 0;
        }
    }
}