/* Page Responsive Sidebar section
================================ */

/* Begin responsive menu style */

.responsive-standalone {
    top: 0;
    width: 229px;
    height: $viewportSize;
    display: none;
    text-align: left;
    z-index: 99999999;
    visibility: hidden;
    padding: 55px 0px 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-right: 1px solid $border;
    @include transition(all 0.3s ease);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transition: translate3d(-100%, 0, 0);
    -ms-transition: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    position: fixed !important;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: $blue none repeat scroll 0 0; 
    @media #{$media-ipadPortrait} {
        display: block;
    }

    &.navigation-active {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transition: translate3d(0, 0, 0);
        -ms-transition: translate3d(0, 0, 0);
        -o-transition: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &-close {
        top: 1.5em;
        right: 1.5em;
        z-index: 100;
        position: absolute;
        font-size: .625em;
        background: rgba(0,0,0,0.3);
        padding: .5em 0.85em;
        line-height: 1.5em;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        .close-text {
            width: 3em;
            float: left;
            height: 1.5em;
            color: $white;
            display: block;
            overflow: hidden;
        }
        .fa {
            color: $white;
        }
    }
    &-overlay {
        display: none;
        background: rgba($black,0.5);
        position: fixed;
        @include size(#{$viewportSize});
        top: 0;
        z-index: 10;
    }
    
    /* Begin navigation inner section */
    .standalone-menu {
        @include padding-top(60px);
        .menu-section {
            li {
                a {
                    color: $white;
                    display: block;
                    @include padding(12 24);
                    position: relative;
                    border-bottom: 1px solid lighten($blue, 9%);
                    @include transition(all 0.3s ease);
                    .icon {
                        display: inline-block;
                        svg {
                            @include size(10px);
                            margin-right: 8px;
                            path {
                                fill: $white;
                            }
                        }
                    }
                    &:hover, &:focus {
                        color: $lightBlue;
                         
                    }
                }
                &.dropdown {
                    position: relative;
                    .arrowIcon {
                        color: $white;
                        position: absolute;
                        @include size(43px);
                        z-index: 100;
                        background: lighten($blue, 9%) none repeat scroll 0 0;
                        right: 0;
                        top: 3px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 3;
                        i {
                            @include font-size(16);
                        }
                    }
                }
                .sub-menu, .sub-sub-menu {
                    display: none;
                }
            }
        }
    }
    
    
    /* End navigation inner section */
}

/* End responsive menu style */