// Colors
// ================================
$basebg:                                        #eaeaea; 
$defaultbg:                                     #ffffff; 
$border:					#e8e8e8;
$borderlight:					#f3f4f8; 
$transparent:                                   rgba(0,0,0,0);
$error:						#d71f29;
$success:					#28e798;
$warning:					#fcba08;
$info:                                          #129eff;
$fieldActive:                                   #56b0ef; 

/* Needed ▸ Colors */	
$offwhite:					#e9ded0; 
$white:						#ffffff;
$grey:					        #ecf0f2; 
$blk50:						#666666;
$black:                                         #231f20;
$black2:                                        /*#474747;*/#666464; 
$zblack:					#000000;
$green:                                         #009751;
$darkGreen:                                     #0d683e;
$brown:                                         #dfcfb8; 
$blue:						#005bab; 
$darkBlue:					#101d30;
$lightBlue:					#25ace2;  
$cyan:						#00bcd4;
$red:                                           #fd3744;
$orange:                                        #faa61a;

/* Social ▸ Colors */
$facebook:					#3b5998;
$twitter:					#00aeef;
$pinterest:                                     #bd081c;
$googleplus:                                    #e34829;
$youtube:					#d62423;
$vimeo:                                         #5bc7ff;
$instagram:                                     #c93073;
$linkedin:					#1f7bc2;
$flickr:					#377ede;

/* Border ▸ Widths */
$width:						1px;
$style:						solid;
$color:						#dfe2e3;

/* Widths ▸ Window Width */
$viewportSize:                                  100%;
$max-width:                                     1920px;



/* Media Query Breakpoints */
$media-desktop: "screen and (max-width: 1199px)";
$media-smallDevices: "screen and (min-width : 1025px) and (max-width : 1199px)";
$media-ipadLandscape: "screen and (min-width : 991px) and (max-width : 1024px)";
$media-ipadPortrait: "screen and (max-width :991px)";
$media-iPad: "screen and (min-width : 768px) and (max-width : 991px)";
$media-ipadSmall: "screen and (max-width :767px)";
$media-ipadport: "screen and (min-width :568px) and (max-width:767px)";
$media-tablet: "screen and (max-width: 575px)";
$media-smalldevices: "screen and (min-width :568px) and (max-width:991px)";
$media-iPhoneMedium: "screen and (min-width : 481px) and (max-width : 567px)";
$media-phone: "screen and (min-width : 200px) and (max-width : 480px)";
